.my-5 { margin-bottom: 0px !important; }

#example,
.example,
body > div:not([class]) {
	font-size: 16px;
	max-width: 1012px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 32px !important;
	padding-right: 16px !important;
	padding-left: 16px !important;
	background-color: #f6f8fa;
}

#example table,
.example table {
	display: table
}

.selected {
	background-color: yellow;
}

/*---- line numbers ----*/
pre { counter-reset: line; }

span:nth-child(1),
span:nth-child(7),
span:nth-child(13),
span:nth-child(14),
span:nth-child(20),
span:nth-child(37)
{ counter-increment: line; }

span:nth-child(1):before,
span:nth-child(7):before,
span:nth-child(13):before,
span:nth-child(14):before,
span:nth-child(20):before,
span:nth-child(37):before
{ content: counter(line) ": "; -webkit-user-select: none; }
