#example,
.example,
body > div:not([class]) {
	font-size: 16px;
	max-width: 1012px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 32px !important;
	padding-right: 16px !important;
	padding-left: 16px !important;
	background-color: #f6f8fa;
}

#example table,
.example table {
	display: table
}

.my-5 { margin-bottom: 0px; }

.selected {
	background-color: yellow;
}