#example,
.example {
	font-size: 16px;
	max-width: 1012px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 32px !important;
	margin-bottom: 32px !important;
	padding-right: 16px !important;
	padding-left: 16px !important;
	background-color: #f8f8f8;
}

#example table,
.example table {
	display: table
}

.selected {
	background-color: yellow;
}