.tree > .toggle { width:16px; height:16px; display:inline-block; }
.tree > .toggle { background: url(plus.gif) no-repeat 1px 1px; }
.tree.open > .toggle { background-image: url(minus.gif); }

.tree > .header { padding-left:20px; }
.tree > .header { background: url(folder.png) no-repeat 0px 1px; }
.tree.open > .header { background-image: url(folder_open.png); }

.tree > .content { padding-left:19px; display:none; }
.tree.open > .content { display:block; }
